{% if user %}
{% extends "user/base.html" %}
{% else %}
{% extends "public/base.html" %}
{% endif %}
{% block title %}CART{% endblock title %}
{% block headline %}Cart{% endblock headline %}


{% block content %}

<section class="h-100" style="background-color: #eee;">
  <div class="container h-100 py-5">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-10">

        <div class="d-flex justify-content-between align-items-center mb-4">
          <h3 class="fw-normal mb-0 text-black">Shopping Cart</h3>
          <div>
            <p class="mb-0"><span class="text-muted">Sort by:</span> <a href="#!" class="text-body">price <i
                  class="fas fa-angle-down mt-1"></i></a></p>
          </div>
        </div>

        <div class="card rounded-3 mb-4">
          {% for cart in carts %}
          <div class="card-body p-4">
            <div class="row d-flex justify-content-between align-items-center">
              <div class="col-md-2 col-lg-2 col-xl-2">
                <img src="{{cart.product.image}}"
                  class="img-fluid rounded-3" alt="Cotton T-shirt">
              </div>
              <div class="col-md-3 col-lg-3 col-xl-3">
                <p class="lead fw-normal mb-2">{{cart.product.product_name}}</p>
                <p><span class="text-muted">Size: </span>M <span class="text-muted">Color: </span>Grey</p>
              </div>
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                <form action="/cart/{{cart.product.id}}/remove" method="post">
                  <button class="btn btn-link px-2"
                    onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                    <i class="fas fa-minus"></i>
                  </button>
                </form>

                <input id="form1" min="0" name="quantity" value="{{cart.quantity}}" type="number"
                  class="form-control form-control-sm" />

                <form action="/cart/{{cart.product.id}}/add" method="post">
                  <button class="btn btn-link px-2"
                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                      <i class="fas fa-plus"></i>
                  </button>
                </form>

              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                <h5 class="mb-0">{{ cart.quantity * cart.product.price | float }} €</h5>
              </div>
              <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                    <form method="post" action="/cart/{{cart.product.id}}/delete">
                      <button><i class="fas fa-trash fa-lg"></i></button>
                    </form>
              </div>
            </div>
          </div>
          {% endfor %}

        </div>


        <div class="card mb-4">
          <div class="card-body p-4 d-flex flex-row">
            <div class="form-outline flex-fill">
              <input type="text" id="form1" class="form-control form-control-lg" />
              <label class="form-label" for="form1">Discound code</label>
            </div>
            <button type="button" class="btn btn-outline-warning btn-lg ms-3">Apply</button>
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <a href="/billing" class="btn btn-warning btn-block btn-lg">Proceed to Pay</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!--
 <div class="cart_section ">
     <div class="container-fluid">
         <div class="row">
             <div class="col-lg-10 offset-lg-1">
                 <div class="cart_container">
                     <div class="cart_title">Shopping Cart<small> (1 item in your cart) </small></div>


                     <div class="cart_items">
                        {% for cart in carts %}

                         <ul class="cart_list">
                             <li class="cart_item clearfix">
                                 <div class="cart_item_image"><img src="{{cart.product.image}}" alt=""></div>
                                 <div class="cart_item_info d-flex flex-md-row flex-column justify-content-between">
                                     <div class="cart_item_name cart_info_col">
                                         <div class="cart_item_title">Name</div>
                                         <div class="cart_item_text">{{cart.product.product_name}}</div>
                                     </div>
                                     <div class="cart_item_color cart_info_col">
                                         <div class="cart_item_title">Color</div>
                                         <div class="cart_item_text"><span style="background-color:#999999;"></span>(za urediti)</div>
                                     </div>
                                     <div class="cart_item_quantity cart_info_col">
                                         <div class="cart_item_title">Quantity</div>
                                         <div class="cart_item_text"><p><button type="button" class="btn btn-outline-secondary mr-2"><i class="bi bi-plus"></i></button><i class="bi bi-cart-check-fill m-2" style="font-size: 1.7rem;"></i><button type="button" class="btn btn-outline-secondary ml-2"><i class="bi bi-dash"></i></button></p></div>
                                     </div>
                                     <div class="cart_item_price cart_info_col">
                                         <div class="cart_item_title">Price</div>
                                         <div class="cart_item_text">{{cart.product.price}} €</div>
                                     </div>
                                     <div class="cart_item_total cart_info_col">
                                         <div class="cart_item_title">Total</div>
                                         <div class="cart_item_text">(za urediti)</div>
                                     </div>
                                 </div>
                             </li>
                         </ul>
                         {% endfor %}

                     </div>

                     <div class="order_total">
                         <div class="order_total_content text-md-right">
                             <div class="order_total_title">Order Total:</div>
                             <div class="order_total_amount">(za urediti)</div>
                         </div>
                     </div>
                     <div class="cart_buttons"> <button type="button" class="button btn-success"><a href="/shop">Continue Shopping</a></button> <button type="button" class="button cart_button_checkout"><a href="/billing">Finish order</a> </button> </div>
                 </div>
             </div>
         </div>
     </div>
 </div>
--->

{% endblock content %}
